<% provide :title, "アプリケーションについて" %>
<p>このアプリケーションは、青森大学ソフトウェア情報学部小久保温研究室で開発したものです。</p>
<p>開発には、以下のソフトウェアを使用しています。</p>
<ul>
  <li>Ruby 2.1.2</li>
  <li>Ruby on Rails 4.1.4</li>
  <li>jQuery Mobile 1.4.3</li>
  <li>Google Maps API 3</li>
</ul>
