<% provide :title, "アプリケーションについて" %>
<h1><%= yield(:title) %></h1>

<p>このアプリケーションは、青森大学 ソフトウェア情報学部 小久保温研究室で開発したものです。</p>
<p>開発には、以下のソフトウェアを使用しています。</p>
<ul>
  <li>Ruby 2.2.2</li>
  <li>Ruby on Rails 4.2.3</li>
  <li>Bootstrap 3.3.5</li>
  <li>Google Maps API 3</li>
</ul>
