<% provide :title, "アプリケーションについて" %>
<h1><%= yield(:title) %></h1>

<p>このアプリケーションは、八戸工業大学 工学部 システム情報工学科 小久保温研究室で開発したものです。</p>
<p>開発には、以下のソフトウェアを使用しています。</p>
<ul>
  <li>Ruby 2.4.1</li>
  <li>Ruby on Rails 5.1.4</li>
  <li>Bootstrap 3.3.7</li>
  <li>Google Maps API 3</li>
</ul>
