<% provide :title, "カテゴリー一覧" %>
<% if @categories.present? %>
  <ul data-role="listview" data-inset="true">
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category %></li>
  <% end %>
  </ul>
  <% else %>
  <p>カテゴリーはありません。</p>
<% end %>

<% if edit_mode? %>
<p><%= link_to_btn '新しいカテゴリーの作成', new_category_path %></p>
<% end %>