<% provide :title, "マップ" %>
<script>
var MAPRAMBLE = {};
<% if edit_mode? %>
MAPRAMBLE.mode = 'edit';
<% else %>
MAPRAMBLE.mode = 'viewer';
<% end %>
<% if @places.present? %>
MAPRAMBLE.bounds = new google.maps.LatLngBounds(
    new google.maps.LatLng(<%= @lat_min %>, <%= @lng_min %>),
    new google.maps.LatLng(<%= @lat_max %>, <%= @lng_max %>)
);
<% end %>
</script>

<script src="/javascripts/mapRamble.js"></script>
<div id="map" style="border: 1px solid black;"></div>
