<% provide :title, "場所の編集" %>
<% provide :button_text, "更新" %>

<h1><%= yield(:title) %></h1>

<%= render 'form' %>
<br>
<%= link_to "削除", @place, { method: :delete, data: { confirm: '本当に削除しますか' }, class: 'btn btn-default btn-lg', role: 'button' } %>
