<% provide :title, "場所の一覧" %>
<h1><%= yield(:title) %></h1>
<% if @places.present? %>
  <div class="list-group">
  <% @places.each do |place| %>
    <%= link_to place.name, place, class: 'list-group-item' %>
  <% end %>
  </div>
  <% else %>
  <p>登録された場所はありません。</p>
<% end %>

<% if edit_mode? %>
<%= link_to '新しい場所の作成', new_place_path, class: 'btn btn-default btn-lg' %>
<% end %>
