<% provide :title, @place.name %>

<p id="notice"><%= notice %></p>

<p>
  <%= @place.description %>
</p>

<% if edit_mode? %>
<%= link_to_btn '編集', edit_place_path(@place) %>
<%= link_to "削除", @place, { method: :delete, data: { confirm: '本当に削除しますか' }, class: 'ui-btn ui-btn-c' } %>
<% end %>
