<div data-role="panel" id="menu_panel">
<ul data-role="listview">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "地区の一覧へ", categories_path %></li>
  <li><%= link_to "マップへ", map_path %></li>
</ul>
</div><!-- /menu_panel -->
